.registration {
  width: 100vw;
  padding-top: 63px;
  background-image: url('/images/background.png');
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: left bottom;

  &__containerMain {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }

  &__container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 140px;
  }

  &__windows {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__sectionTitle {
    display: flex;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font-size: 24px;
    line-height: 150%;
  }

  &__form {
    line-height: 1.5;
    background: #ffffff4d;
    border: 1px solid var(--marine);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    gap: 24px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 3px 8px 0px rgba(173, 171, 177, 0.6);
    margin-bottom: 143px;
    height: 780px;
  }

  &__titleContainer {
    width: 100%;
  }

  &__sizeList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }

  &__radioList {
    display: inline-flex;
    align-items: flex-start;
    text-align: center;
    gap: 48px;
    line-height: 24px;
    letter-spacing: 0.019px;
    padding: 24px 0 24px 0;
  }

  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 552px;
    font-size: 24px;
    font-weight: 500;

    &:hover .registration__input,
    &:focus .registration__input {
      border: 1px solid blue;
    }
  }

  &__input {
    font-size: var(--mediumFontSize);
    border: 1px solid var(--marine);
    border-radius: 10px;
    background-color: var(--light);
    outline: none;
    width: 100%;
    max-width: 552px;
    height: 40px;
    margin-top: 8px;
    padding-left: 15px;
    transition: border 0.3s ease-in-out;
  }
}

.formikMessage {
  position: absolute;
  right: 0;
  top: 85px;
  color: red;
  font-size: 14px;
  font-weight: 400;
}

.error {
  border: 1px solid red;
}

input[type='radio'] {
  margin-right: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  font-size: 16px;
  gap: 24px;
}
