@import '../../stylesheets/mixins.scss';

.registration {
  width: 100%;
  padding-top: 63px;
  background-image: url('/images/background.png');
  background-size: 300% 300%;
  background-repeat: no-repeat;
  background-position: left bottom;

  @include desktop-screen {
    background-size: 200% 200%;
    padding-top: 83px;
    margin-top: -20px;
  }

  &__containerMain {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include desktop-screen {
      padding: 0 80px;
      max-width: 1440px;
    }
  }

  &__container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 140px;
  }

  &__windows {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop-screen {
    padding-bottom: 120px;
  }

  &__sectionTitle {
    display: flex;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font-size: 16px;
    line-height: 150%;

    @include desktop-screen {
      font-size: 21px;
    }
  }

  &__form {
    line-height: 1.5;
    background: #ffffff4d;
    border: 1px solid var(--marine);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    gap: 24px;
    width: 100%;
    box-shadow: 0px 3px 8px 0px rgba(173, 171, 177, 0.6);
    margin-bottom: 60px;


    @include desktop-screen {
      max-width: 600px;
      height: 780px;
      padding: 24px 24px 0 24px;
    }
  }

  &__titleContainer {
    width: 100%;
  }

  &__sizeList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  &__radioList {
    display: inline-flex;
    align-items: flex-start;
    text-align: center;
    gap: 48px;
    line-height: 24px;
    letter-spacing: 0.019px;
    padding: 24px 0 8px 0;
  }

  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-weight: 500;
    font-size: 16px;

    @include desktop-screen {
      font-size: 24px;
    }

    &:hover .registration__input,
    &:focus .registration__input {
      border: 1px solid blue;
    }

  }

  &__input {
    font-size: 16px;
    border: 1px solid var(--marine);
    border-radius: 10px;
    background-color: var(--light);
    outline: none;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    padding-left: 15px;
    transition: border 0.3s ease-in-out;

    @include desktop-screen {
      font-size: 24px;
    }
  }

  &__instructions {
    width: 100%;
    max-width: 776px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    gap: 16px;
    padding-top: 30px;
  }

  &__instructionsText {
    font-size: 16px;

    @include desktop-screen {
      font-size: 24px;
    }
  }

  &__instructionsTextHighlighted {
    color: var(--orange);
    font-size: 16px;

    @include desktop-screen {
      font-size: 24px;
    }
  }
}

.formikMessage {
  position: absolute;
  right: 0;
  top: 75px;
  color: red;
  font-size: 14px;
  font-weight: 400;

  @include desktop-screen {
    font-size: 16px;
    top: 85px;
  }
}

.formikMessageStatement {
  top: 85px;
  color: red;
  font-size: 12px;
  font-weight: 400;

  @include desktop-screen {
    font-size: 14px;
  }
}

.error {
  border: 1px solid red;
}

input[type='radio'] {
  margin-right: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 24px;
  font-size: 12px;
  text-align: justify;

  @include desktop-screen {
    padding-top: 0;
    font-size: 16px;
  }
}