.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 150;

    &__container {
        max-width: 390px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
        height: 64px;
    }
}