@import '../../stylesheets/mixins.scss';

.timetable {
  padding: 60px 0 0 0;
  height: 1250px;

  @include desktop-screen {
    height: 2780px;
    padding: 150px 0 0 0;
  }

  &__container {
    position: relative;
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;

    @include desktop-screen {
      max-width: 1440px;
      padding: 0 80px;
    }
  }

  &__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__titleIcon {
    display: flex;
    gap: 0;
    align-items: center;
    height: 70px;

    @include desktop-screen {
      gap: 12px;
      height: 92px;
    }
  }

  &__title {
    font-family: 'DM Serif Display';
    font-size: 38px;

    @include desktop-screen {
      font-size: 67px;
    }
  }

  &__titleBlood {
    scale: 0.5;

    @include desktop-screen {
      scale: 1;
    }
  }

  &__time {
    font-weight: 600;

    @include desktop-screen {
      font-size: 24px;
    }
  }

  &__line {
    position: absolute;
    max-width: 350px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    left: 10px;
    top: 70px;

    @include desktop-screen {
      max-width: 1280px;
      left: 80px;
      top: 120px;
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
    position: absolute;
    scale: 0.4;

    @include desktop-screen {
      scale: 1;
    }
  }

  &__element0 {
    top: -20px;
    left: -98px;

    @include desktop-screen {
      top: 230px;
      left: 80px;
    }
  }

  &__element1 {
    top: 90px;
    right: -78px;

    @include desktop-screen {
      top: 380px;
      right: 80px;
    }
  }

  &__element2 {
    top: 300px;
    left: -78px;

    @include desktop-screen {
      top: 900px;
      left: 400px;
    }
  }

  &__element3 {
    top: 400px;
    right: -78px;

    @include desktop-screen {
      top: 1450px;
      right: 160px;
    }
  }

  &__element4 {
    top: 600px;
    left: -78px;

    @include desktop-screen {
      top: 1625px;
      left: 80px;
    }
  }

  &__element5 {
    top: 740px;
    right: -60px;

    @include desktop-screen {
      top: 2095px;
      right: 80px;
    }
  }

  &__comment,
  &__times {
    text-align: center;
    font-size: var(--mediumFontSize);
    font-weight: 400;
  }

  &__place,
  &__address,
  &__hours {
    font-size: var(--largeFontSize);
    font-weight: 500;
  }

  &__icon0 {
    position: absolute;
    top: 140px;
    left: 430px;
  }

  &__icon1 {
    position: absolute;
    top: 700px;
    left: 630px;
  }

  &__icon2 {
    position: absolute;
    top: 1100px;
    left: 940px;
    transform: rotate(30deg);
  }

  &__icon3 {
    position: absolute;
    top: 1600px;
    left: 600px;
    transform: rotate(60deg);
  }

  &__icon4 {
    position: absolute;
    top: 2130px;
    left: 810px;
    transform: rotate(15deg);
  }
}