@import '../../stylesheets/mixins.scss';

.man {
  position: absolute;
  right: -220px;
  top: 60px;
  transform: scale(0.4);

  @include desktop-screen {
    right: 88px;
    top: 170px;
    transform: scale(1);
  }
}

.woman {
  position: absolute;
  transform: scale(0.4);
  right: -14px;
  top: 145px;

  @include desktop-screen {
    right: 504px;
    top: 295px;
    transform: scale(1);
  }
}
