@import '../../stylesheets/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop-screen {
    margin-top: -20px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 200% 200%;
  width: 100%;

  @include desktop-screen {
    padding-top: 20px;
  }
}

.arrow {
  svg {
    width: 32px;
    height: 100%;

    @include desktop-screen {
      width: 80px;
    }
  }
}