.navigation {
    display: flex;
    width: 100%;
    max-width: 522px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 24px;
    text-transform: uppercase;

    &__item {
        position: relative;
        transition: all 0.3s ease-in-out;

        &:hover .navigation__links--hemato-run,
        &:focus .navigation__links--hemato-run {
            height: 512px;
            padding: 20px 0;
        }

        &:hover .navigation__links--participant-area,
        &:focus .navigation__links--participant-area {
            height: 256px;
            padding: 20px 0;
        }

        &:hover .navigation__links--please-support,
        &:focus .navigation__links--please-support {
            height: 192px;
            padding: 20px 0;
        }
    }

    &__title {
        height: 133px;
        display: flex;
        align-items: center;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            cursor: pointer;
            font-weight: 600;

            &::after {
                content: '';
                position: absolute;
                top: 78px;
                left: 0;
                width: 100%;
                height: 2px;
                border-bottom: 2px dashed var(--orange);
            }

        }
    }

    &__links {
        position: absolute;
        z-index: 200;
        background-color: var(--grey);
        top: 133px;
        left: 50%;
        transform: translateX(-50%);
        width: 299px;
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &--hemato-run:hover,
        &--hemato-run:focus {
            height: 448px;
            padding: 20px 0;
        }

        &--participant-area:hover,
        &--participant-area:focus {
            height: 256px;
            padding: 20px 0;
        }

        &--please-support:hover,
        &--please-support:focus {
            height: 192px;
            padding: 20px 0;
        }
    }

    &__link {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            font-weight: 700;
        }

        &--not-logged-in:hover,
        &--not-logged-in:focus {
            text-decoration: none;
            font-weight: 400;
        }
    }

    &__not-logged-in {
        color: #919191;

        &:hover,
        &:focus {
            cursor: not-allowed;
        }
    }

    &__logout {
        border: none;
        background-color: transparent;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            font-weight: 700;
        }
    }

    &__website {
        text-decoration: underline;
    }
}