@import '../../stylesheets/mixins.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  background-color: var(--beige);
  padding: 20px 15px 8px;
  aspect-ratio: 1/1;
  z-index: -2;
  width: 100%;
  max-width: 474px;

  @include desktop-screen {
    padding: 36px 60px 20px;
  }

  &__beige {
    background-color: var(--beige);
  }

  &__grey {
    background-color: var(--grey);
  }
}

.header {
  &__text {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: start;
    max-height: 100%;
    width: 100%;
    margin-bottom: 24px;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 30%;
    width: 100%;
    min-height: 12px;

    @include desktop-screen {
      min-height: 73px;
      padding-left: 35%;
    }
  }
}

.heading {
  font-size: 12px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 14px;
  line-height: 1.4;
  white-space: pre-line;

  @include desktop-screen {
    font-size: 21px;
  }
}

.pos {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 40px;
  height: 40px;

  @include desktop-screen {
    width: 124.788px;
    height: 124.788px;
  }
}

.content {
  flex-grow: 1;
}

.image {
  width: 100%;
  max-width: 260px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;

  @include desktop-screen {
    max-width: 330px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dots {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 168px;

  @include desktop-screen {
    width: 256px;
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}