.sponsorship {
    font-family: 'Poppins';
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 32px;
    text-align: justify;
    padding-top: 80px;

    .title {
        color: #2E2530;
        font-size: 39px;
        font-weight: 500;
        word-wrap: break-word;
        margin-top: 32px;
        text-align: justify;
    }

    .vector {
        padding: 62px 0 52px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heading {
    font-family: DM Serif Display;
    font-size: 67px;
    font-weight: 400;
    line-height: 91.86px;
    text-align: center;
    color: #1CA2A7;
    text-align: left;
    }

    .content {
        color: #2E2530;
        font-size: 21px;
        font-weight: 400;
        word-wrap: break-word;
        margin-top: 32px;
        text-align: justify;

        :first-child {
            color: #FD7616;
            font-size: 21px;
            font-weight: 700;
            line-height: 31.5px;
            text-align: left;

        }

        p {
            margin: 0;
            margin-top: 32px;
            text-align: justify;
        }
    }

    .contentThanks {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: justify;
    color: #FD7616;
    padding-top: 104px;
    }
    
    .contactEmail {
        margin-bottom: 32px;

    }
    .contactLink {
        color: #FD7616;
        font-size: 24px;
        font-weight: 600;
        word-wrap: break-word;

        
    }

    .contactEmail {
        margin-top: 50px;
        
        :hover,
        :focus {
            text-decoration: underline;
        }
    }
}