.section {
  position: relative;
  padding: 64px 80px 70px;
  max-width: 1440px;
  margin: 0 auto;

  & > svg {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-56%);
    z-index: -1;
  }
}
