.container {
  width: 968px;
  padding: 24px;
  height: 605px;
  border-radius: 32px;
  border: 1px solid #c6c6c6;
  background: rgba(250, 253, 253, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.heading {
  font-size: 39px;
  font-weight: 500;
}

.join {
  font-size: 24px;
  font-weight: 600;
}

.choose {
  font-size: 21px;
  font-weight: 400;
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 12px;
  max-width: 768px;
  width: 100%;
}
