@import '../../../stylesheets/mixins.scss';

.label {
  position: relative;
  display: flex;
  width: 161px;
  padding: 8.2px 14.4px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  border-radius: 10.8px;
  border: 2px solid var(--orange);
  background: var(--light);
  transition: all 0.3s ease-in-out;

  @include desktop-screen {
    padding: 16px 32px;
    border-radius: 24px;
    border: 3px solid var(--orange);
    gap: 10px;
  }

  &>input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--marine);
    color: var(--marine);
    font-size: 14.4px;
    height: 24px;
    font-weight: 700;
    line-height: 0;

    &:focus,
    &:hover {
      outline: none;
    }

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    @include desktop-screen {
      font-size: 24px;
      height: 32px;
    }
  }
}

.active {
  background-color: var(--orange);
  color: var(--light);
  transform: translateY(-6px);

  .text {
    color: var(--light);
  }

  &>input {
    border-color: var(--light);
    color: var(--light);
  }
}

.text {
  color: var(--marine);
  font-size: 14.4px;
  font-weight: 700;
  line-height: 1.5;

  @include desktop-screen {
    font-size: 24px;
  }
}

.error {
  color: red;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 12px;

  @include desktop-screen {
    font-size: 16px;
    bottom: -40%;
  }
}