.container {
  padding: 0 10px;
  width: 100%;
  border-bottom: 0.5px solid rgba(#2e2530, 0.5);
}

.heading {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
  font-size: 18px;
  cursor: pointer;

  &__open {
    & > svg {
      transform: rotate(-90deg);
    }
  }

  & > svg {
    width: 20px;
    height: 20px;
    transition: all 0.2s;
  }
}

.text {
  display: flex;
  align-items: center;
  gap: 8px;

  & > svg {
    width: 24px;
    height: 24px;
  }
}

.box {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s;
  padding: 0 6px;

  &__open {
    grid-template-rows: 1fr;
  }
}

.col {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.item {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;

  & > span {
    transition: all 0.2s;
  }

  &:last-child {
    margin-bottom: 12px;
  }

  &__enabled {
    &:hover,
    &:focus {
      color: var(--marine);

      & > span:first-child {
        background-color: var(--marine);
      }
      & > span:last-child {
        transform: translateX(6px);
      }
    }
  }

  &__disabled {
    color: #919191;
    cursor: not-allowed;

    & > span:first-child {
      background-color: #919191;
    }
  }

  &__line {
    height: 100%;
    width: 2px;
    background-color: rgba(#2e2530, 0.5);
    transition: all 0.2s;
  }
}

canvas {
  display: none;
}
