.section {
  padding: 80px 0 260px;
  position: relative;

  & > svg {
    position: absolute;
    top: 40%;
    right: 0;
    z-index: -1;
  }

  & > svg:last-child {
    top: 45%;
    left: 0;
  }
}

.background {
  position: absolute;
  top: -200px;
  right: -1400px;
  width: 2060px;
  height: 1993px;
  background-image: url('/images/background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  transform: rotate(75deg);
  z-index: -2;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
