@import '../../stylesheets/mixins.scss';

.section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  margin-bottom: 140px;
}

.background {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: -100;
}

.backgroundIcon {
  position: absolute;
  top: 540px;
}

.header {
  top: 150px;
  display: flex;
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @include desktop-screen {
    padding: 0 80px;
    max-width: 1440px;
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    @include desktop-screen {
      font-size: 39px;
      font-weight: 400;
      margin-right: 20px;
    }
  }
}

.map {
  max-width: 100%;
  cursor: pointer;
  &__container {
    margin: auto;
    max-width: 240px;
    @include desktop-screen {
      max-width: 566px;
      padding-bottom: 40px;
    }
  }
  &:hover {
    transform: scale(1.8);
    transition: transform 1s;
  }
  &:not(:hover) {
    transform: scale(1);
    transition: transform 1s;
  }
}
