.hematoRunRoute {
  position: relative;
  padding: 80px;

  &__header {
    display: flex;
    &__text {
      font-size: 50px;
      font-weight: 500;
      margin-right: 20px;
    }
  }

  &__mapContainer {
  }

  &__map {
    width: 819px;
    height: 580px;
    background-image: url('/public/images/hematoRunRoute/hematoRunRoute.webp');
  }
}
