.hematoRunRoute {
  &__header {
    display: flex;
    padding: 0 80px;
    &__text {
      font-size: 50px;
      font-weight: 500;
      margin-right: 20px;
    }
  }
  &__background {
    background-image: url(../../assets/Images/hematoRunRoute/hematoRunRouteBackground.webp);
    background-size: contain;
    background-repeat: repeat;
  }
  &__mapContainer {
    margin: auto;
    padding: 200px 0;
    max-width: 819px;
  }
  &__map {
    max-width: 100%;
  }
}
