@import '../../stylesheets/mixins.scss';

.row {
  font-size: 18px;

  @include mobile-screen {
    font-size: 14px;
  }
}

.text {
  font-weight: 400;
}

.btn {
  color: var(--marine);
  font-weight: 700;
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;

  &:focus,
  &:hover {
    outline: none;
    text-decoration-line: underline;
  }
}
