@import '../../../stylesheets/mixins.scss';

.btn {
  cursor: pointer;
  transition: all 0.2s;
  background: none;
  border: none;
  width: 18px;
  height: 18px;

  &:hover,
  &:focus {
    color: var(--marine);
  }

  @include desktop-screen {
    width: 24px;
    height: 24px;
  }
}