@import '../../../stylesheets/mixins.scss';

.swiper {
  font-size: 26px;
  font-weight: 800;
  color: var(--orange);
  pointer-events: none;
  max-width: 310px;

  @include desktop-screen {
    font-size: 78px;
    max-width: 100%;
  }
}