@import '../../../stylesheets/mixins.scss';

.container {
  width: 100%;
}

.heading {
  font-size: 28px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;

  @include desktop-screen {
    font-size: 28px;
    margin-bottom: 28px;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;

  @include desktop-screen {
    gap: 45px;
  }
}