@import '../../stylesheets/mixins.scss';

.formRegister {
  &__container {
    max-width: 390px;
    width: 100%;
    margin: 40px auto 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include desktop-screen {
      max-width: 1280px;
    }
  }

  &__windows {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__form {
    background: #ffffff4d;
    border: 1px solid var(--marine);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 3px 8px 0px rgba(173, 171, 177, 0.6);
  }

  &__titleContainer {
    width: 100%;
  }

  &__sectionTitle {
    font-weight: 400;
    font-size: 16px;

    @include desktop-screen {
      font-size: 24px;
    }
  }

  &__iconCheckPassword {
    position: absolute;
    bottom: 0;
    right: 15px;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__instructions {
    width: 100%;
    max-width: 776px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__instructionsTitle {
    margin-bottom: 12px;
    color: var(--orange);
    font-weight: 600;
    font-size: 16px;

    @include desktop-screen {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  &__instructionsText {
    font-size: 16px;

    @include desktop-screen {
      font-size: 21px;
    }
  }

  &__instructionsTextHighlighted {
    color: var(--orange);

    font-size: 16px;

    @include desktop-screen {
      font-size: 21px;
    }
  }
}
