.formRegister {
  &__container {
    margin: 40px auto;
    width: 1245px;
    height: 1012px;
    display: flex;
    gap: 48px;
  }

  &__form {
    line-height: 1.5;
    background: #ffffff4d;
    border: 1px solid var(--marine);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    width: 600px;
  }

  &__sectionTitle {
    font-size: 24px;
    font-weight: 400;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 24px;
    font-weight: 500;
  }

  &__input,
  &__select {
    background-color: white;
    padding: 0 10px;
    font-size: 20px;
    width: 552px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--marine);
  }

  &__radioList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__radio {
    margin-right: 10px;
  }

  &__login {
    font-weight: 500;
  }

  &__link {
    font-weight: 700;
    text-decoration: underline;
    color: var(--marine);

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__regulations {
    padding-top: 124px;
    background: #ffffff4d;
    border: 1px solid var(--marine);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 597px;
    height: 728px;
    line-height: 1.5;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
      width: 12px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1d9ea8;
      border-radius: 32px;
    }
  }

  &__regulationsTitle {
    margin-top: 24px;
  }

  &__statementList {
    padding: 0 24px;
    list-style: decimal;
    list-style-type: lower-roman;
  }

  &__statementItem {
    list-style: decimal;
  }

  &__highlights {
    font-weight: 700;
    cursor: pointer;
    color: #1300ec;
    text-decoration: underline;
  }
}
