.formRegister {
  &__container {
    max-width: 1440px;
    // height: 1435px;
    width: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
  }

  &__windows {
    width: 1245px;
    height: 1012px;
    display: flex;
    gap: 48px;
  }

  &__form {
    line-height: 1.5;
    background: #ffffff4d;
    border: 1px solid var(--marine);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    width: 600px;
  }

  &__titleContainer {
    width: 100%;
  }

  &__sectionTitle {
    font-size: 24px;
    font-weight: 400;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 24px;
    font-weight: 500;
  }

  &__input,
  &__select {
    background-color: white;
    padding: 0 10px;
    font-size: 20px;
    width: 552px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--marine);
  }

  &__radioList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__radio {
    margin-right: 10px;
  }

  &__login {
    font-weight: 500;
  }

  &__link {
    font-weight: 700;
    text-decoration: underline;
    color: var(--marine);

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__regulations {
    padding-top: 124px;
    background: #ffffff4d;
    border: 1px solid var(--marine);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 597px;
    max-height: 728px;
    line-height: 1.5;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
      width: 12px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1d9ea8;
      border-radius: 32px;
    }
  }

  &__regulationsTitle {
    margin-top: 24px;
    position: relative;
  }

  &__consent {
    margin-right: 10px;

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }

  &__consentFilled svg {
    margin-right: 6px;
    fill: #1ca2a7;

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }

  &__iconAgree svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -2px;
    top: 2px;
  }

  &__statementList {
    padding: 0 24px;
    list-style: decimal;
    list-style-type: lower-roman;
  }

  &__statementItem {
    list-style: decimal;
  }

  &__highlights {
    font-weight: 700;
    cursor: pointer;
    color: #1300ec;
    text-decoration: underline;
  }

  &__donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
  }

  &__donateIllustration {
    background-image: url('/images/heart-in-jar.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 488px;
    height: 377px;
  }

  &__donateIcon {
    position: absolute;
    left: -80px;
    bottom: 5px;
  }
}
