@import '../../../stylesheets/mixins.scss';

.section {
    padding: 80px 0 0;
    position: relative;
    width: 100%;
    padding-top: 63px;
    background-image: url('/images/background.png');
    background-size: 345% 415%;
    background-repeat: no-repeat;
    background-position: left bottom;

    @include desktop-screen {
        padding: 80px 0 260px;
        padding-top: 83px;
        margin-top: -20px;

    }
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;

    @include desktop-screen {
        padding: 0 80px;
    }

    .heading {
        max-width: 100%;
        align-items: center;
        margin: 0 auto;
        text-wrap: wrap;
        white-space: pre-wrap;

        @include desktop-screen {
            max-width: 98%;
        }

        .subText {
            font-family: DM Serif Display;
            font-size: 48px;
            font-weight: 400;
            line-height: 91.86px;
            text-align: center;
            color: var(--dark);

            @include desktop-screen {
                font-size: 67px;
                line-height: 91.86px;
            }
        }
    }
}