.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  align-self: flex-start;
  margin-bottom: 80px;
  font-size: 21px;
  max-width: 600px;
  line-height: 1.4;
}

.thanks {
  font-size: 39px;
  color: var(--orange);
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  max-width: 1120px;
}
