.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  padding: clamp(32px, 4vw, 64px) clamp(32px, 10vw, 80px)
    clamp(40px, 4vw, 140px);
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
