@import '../../stylesheets/mixins.scss';

.number {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border-radius: 50%;
  background-color: var(--orange);
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: 700;

  @include desktop-screen {
    width: 138px;
    height: 138px;
    font-size: 86px;
  }
}