.support {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 40px;
  }

  &__arrow {
    position: absolute;
    transform: rotate(275deg) scaleX(-1);
    left: -100px;
    bottom: 0;

    & > svg {
      stroke: var(--orange);
    }
  }
}
