.whyIsItWorth {
  &__container {
    position: relative;
    max-width: 1440px;
    height: 1435px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }

  &__titleContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  &__title {
    text-align: center;
    width: 471px;
    font-size: 67px;
    font-family: 'DM Serif Display', serif;
  }

  &__icon {
    position: absolute;
    bottom: -5px;
    right: -25px;
  }

  &__list {
    position: relative;
    width: 1022px;
  }

  &__item {
    position: absolute;

    > p {
      text-align: center;
      font-size: var(--mediumFontSize);
    }

    &-fundraising {
      width: 287px;
      top: 80px;
      left: 0;
    }

    &-awareness {
      width: 284px;
      top: 302px;
      right: 0;
    }

    &-opportunity {
      width: 284px;
      top: 465px;
      left: 0;
    }

    &-joy {
      width: 284px;
      top: 680px;
      right: 0;
    }

    &-family {
      width: 284px;
      top: 881px;
      left: 0;
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
  }
}
