@import '../../stylesheets/mixins.scss';

.whyIsItWorth {
  &__IconBg {
    display: none;

    @include desktop-screen {
      display: block;
      position: absolute;
      top: 337px;
    }
  }

  &__IconBgMobile {
    display: block;
    position: absolute;

    top: 160px;

    @include desktop-screen {
      display: none;
    }
  }

  &__container {
    position: relative;
    max-width: 390px;
    height: 820px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop-screen {
      max-width: 1440px;
      height: 1435px;
      padding: 0 80px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('/images/run.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 80px;
        width: calc(100% - 160px);
        height: calc(100% - 160px);
      }
    }
  }

  &__titleContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  &__title {
    text-align: center;
    width: 302px;
    font-size: 35px;
    font-weight: 700;

    @include desktop-screen {
      font-size: 54px;
      width: 471px;
    }
  }

  &__iconBlood {
    position: absolute;
    bottom: -5px;
    right: -5px;

    &>svg {
      width: 32px;
      height: 45px;
    }

    @include desktop-screen {
      bottom: -5px;
      right: -35px;

      &>svg {
        width: 59px;
        height: 83px;
      }
    }
  }

  &__list {
    position: relative;
    width: 350px;

    @include desktop-screen {
      width: 1022px;
    }
  }

  &__item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    @include desktop-screen {
      gap: 16px;
    }

    &-fundraising {
      width: 152px;
      top: 45px;
      left: 10px;

      @include desktop-screen {
        width: 441px;
        top: 80px;
        left: 0;
      }
    }

    &-awareness {
      width: 150px;
      top: 120px;
      right: 10px;

      @include desktop-screen {
        width: 438px;
        top: 302px;
        right: 0;
      }
    }

    &-opportunity {
      width: 129px;
      top: 250px;
      left: 10px;

      @include desktop-screen {
        width: 398px;
        top: 465px;
        left: 0;
      }
    }

    &-joy {
      width: 138px;
      top: 355px;
      right: 10px;

      @include desktop-screen {
        width: 415px;
        top: 680px;
        right: 0;
      }
    }

    &-family {
      width: 159px;
      top: 455px;
      left: 10px;

      @include desktop-screen {
        width: 455px;
        top: 881px;
        left: 0;
      }
    }
  }

  &__itemText {
    line-height: 1.5;
    text-align: center;
    font-size: 12px;

    @include desktop-screen {
      font-size: var(--mediumFontSize);
    }
  }

  &__itemOdd {
    flex-direction: column-reverse;
  }

  &__itemEven {
    flex-direction: column;
  }

  &__itemNumber>svg {
    width: 73px;
    height: 73px;

    @include desktop-screen {
      width: 124px;
      height: 124px;
    }
  }

  &__button {
    position: absolute;
    bottom: 20px;

    @include desktop-screen {
      bottom: 0;
    }
  }
}