.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 160px 0 0 0;

  &__box {
    width: 480px;
  }

  &__img {
    width: 480px;
    height: 407px;
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
  }

  &__placeholder {
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--orange);
    font-weight: 700;
    font-size: var(--mediumFontSize);
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}