.sponsorship {
    font-family: 'Poppins';
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 32px;
    text-align: justify;
    padding: 0 80px 117px;

    .title {
        color: #2E2530;
        font-size: 39px;
        font-weight: 500;
        word-wrap: break-word;
        margin-top: 32px;
        text-align: justify;
        line-height: 58,5px;
    }

    .subtitle {
        color: #2E2530;
        font-size: 24px;
        font-weight: 700;
        word-wrap: break-word;
        margin-top: 32px;
        text-align: justify;
    }

    .content {
        color: #2E2530;
        font-size: 21px;
        font-weight: 400;
        word-wrap: break-word;
        margin-top: 32px;
        text-align: justify;

        p {
            margin: 0;
            margin-top: 32px;
            text-align: justify;
        }
    }

    .benefits span {
        display: inline-block;
        margin-right: 25px;
        text-align: justify;
    }

    .contactEmail {
        margin-top: auto;
        margin-bottom: 32px;

    }
    .contactLink {
        color: #FD7616;
        font-size: 24px;
        font-weight: 600;
        word-wrap: break-word;

        
    }

    .contactEmail {
        margin-top: 50px;
        
        :hover,
        :focus {
            text-decoration: underline;
        }
    }
}
