.section {
  padding: 0 80px;
  position: relative;
  width: 100%;
  padding-top: 63px;
  background-image: url('/images/background.png');
  background-size: 295% 295%;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  word-wrap: break-word;

  .heading {
    max-width: 72%;
    align-items: center;
    margin: 0 auto;
  }
}
