.header {
  position: fixed;
  width: 100%;
  z-index: 1600;
}

.container {
  max-width: 560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0 20px;
  height: 64px;
}

.box {
  position: relative;
}

.btn {
  position: relative;
  border: none;
  background-color: var(--light);
  color: var(--dark);
  width: 100%;
  height: 100%;
  width: 38px;
  height: 38px;
  padding: 6px;
  border-radius: 50%;
  box-shadow: 0px 8px 24px 0px rgba(51, 51, 51, 0.3);
  z-index: 1800;
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 1300px;
    background-color: var(--dark);

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      width: 20px;
      height: 2px;
      border-radius: 1300px;
      background-color: var(--dark);
      transition: all 0.3s;
    }

    &::before {
      top: -6px;
      left: 0;
    }

    &::after {
      top: 6px;
      left: 0;
    }
  }

  &__active {
    & > span {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(135deg);
      }

      &::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }
}
