@import '../../stylesheets/mixins.scss';

.contact {
  background-image: url('/images/cut-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left;
  padding-top: 80px;
  overflow: hidden;

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>div:first-child {
      display: flex;
      flex-direction: column;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    gap: 20px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__qr {
      gap: 12px;
    }

    &__inline {
      flex-direction: row;
      gap: 16px;
      align-items: center;
      justify-content: center;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__title {
    color: var(--dark);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
  }

  &__text {
    color: var(--dark);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  &__link {
    color: var(--orange);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;

    &:hover {
      scale: 1.2;
    }
  }

  &__icon {
    height: 24px;
    display: flex;
    width: 24px;
    align-items: center;
  }

  &__email {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
      color: var(--dark);
      font-family: Inter;
      font-size: var(--smallFontSize);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;

      &:hover {
        color: var(--orange);
      }
    }
  }

  &__socials {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
  }

  &__support {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include desktop-screen {
  .contact {
    margin-top: -20px;


    &__container {
      padding: 0 80px;
      align-items: normal;
      padding-top: 20px;
    }

    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 80px;
    }

    &__box {
      gap: 48px;
    }

    &__address {
      align-items: normal;
    }

    &__email {
      gap: 16px;
      justify-content: normal;

      &__link {
        font-size: var(--mediumFontSize);
      }
    }

    &__socials {
      gap: 40px;
      justify-content: normal;
    }

    &__support {
      margin-top: 140px;
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}