.idNumber {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background-color: #fd7616;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 40px;
  color: var(--WHITE, #fafdfd);
  text-align: center;
  font-family: 'DM Serif Display';
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
