.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 56px;
}

.col {
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: 700;
  font-size: 26px;
  color: var(--orange);
  text-transform: uppercase;
  align-self: flex-end;
}

.timer {
  font-family: 500;
  font-size: 42px;
  color: #038d93;
}
