@import '../../stylesheets/mixins.scss';

.footerTitleEnglish {
    font-size: 15px;
    color: var(--light);
    font-weight: 400;
    margin-left: 22%;

    @include desktop-screen {
        font-size: 21px;
        margin-left: 150px;
    }
}