@import '../../stylesheets/mixins.scss';

.faq {
  padding: 40px 0 36px 0;

  @include desktop-screen {
    padding: 140px 0 132px 0;
  }

  &__container {
    padding: 0 20px;
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 36px;

    @include desktop-screen {
      gap: 64px;
      padding: 0 80px;
    }
  }

  &__titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title {
    text-align: center;
    font-size: 35px;

    display: flex;

    @include desktop-screen {
      font-size: 54px;
    }
  }

  &__bloodCell {
    scale: 0.5;
    transform-origin: left center;

    @include desktop-screen {
      scale: 1;
    }
  }

  &__listContainer {
    gap: 16px;
  }
}