.faq {
  &__container {
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }

  &__title {
    width: 249px;
    color: #17181a;
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 10px;
    display: flex;
  }
  &__listContainer {
    gap: 16px;
  }

  &__item {
    width: 900px;
    height: 100%;
    display: block;
    padding: 39px 40px;
    margin-bottom: 16px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 16px;
    background: #f8cea6;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  &__question {
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  &__answer {
    display: none;
    margin-top: 10px;
    padding: 10px;
  }
  &__answer.open {
    display: block;
  }
  &__icon {
    justify-content: flex-end;

    transition: transform 0.3s;
  }
}

.faq__item:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.faq__item.open {
  width: 859px;
  height: 240px;
}
