.header {
  position: sticky;
  top: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__container {
    width: 1440px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-inline: 70px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 32px;
  }
}
