.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 930px;
  position: relative;

  & > svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(110%, -15%) rotate(-25deg);

    @media only screen and (max-width: 1240px) {
      display: none;
    }
  }
}

.text {
  font-size: clamp(12px, 3vw, 16px);
  line-height: 1.6;
}

.underline {
  color: var(--orange);
  display: inline-block;
  position: relative;
}

.icon {
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;

  & svg {
    width: 100%;
    height: 100%;
  }
}
