@import '../../stylesheets/mixins.scss';

.label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 552px;
  font-size: 24px;
  font-weight: 500;

  input {
    font-size: var(--mediumFontSize);
    border: 1px solid var(--marine);
    border-radius: 10px;
    background-color: var(--light);
    outline: none;
    width: 100%;
    max-width: 552px;
    height: 40px;

    padding-left: 15px;
    transition: border 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    input {
      border: 1px solid blue;
    }
  }

  @include mobile-screen {
    font-size: 14px;

    & input {
      font-size: 16px;
    }
  }
}

.error {
  input {
    border: 1px solid red;
  }
}

.formikMessage {
  position: absolute;
  right: 0;
  top: 80px;
  color: red;
  font-size: 14px;

  @include mobile-screen {
    font-size: 12px;
    top: 70px;
  }
}

.box {
  position: relative;
  margin-top: 8px;

  & > button {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
}
