.hematoTitles {
    background-image: url('/images/background.png');
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 63px;

    &__container {
        position: relative;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 80px;
    }

    &__giveOthers {
        font-size: var(--largeFontSize);
        font-weight: 500;
        line-height: 46px;
    }

    &__titleContainer {
        display: flex;
        align-items: center;
        height: 135px;
    }

    &__title {
        font-size: 90px;
        font-weight: 800;
        color: var(--orange);
    }

    &__foundation {
        font-size: 21px;
    }

    &__date {
        font-size: 50px;
        font-weight: 500;
        line-height: 75px;
        color: var(--orange);
        margin-top: 8px;
    }

    &__kmContainer {
        display: flex;
        align-items: center;
        margin-bottom: 39px;
        gap: 10px;
    }

    &__km {
        font-size: var(--largeFontSize);
        font-weight: 500;
        line-height: 75px;
        color: var(--marine);
    }

    &__logInContainer {
        display: flex;
        gap: 8px;
        align-items: center;
        margin: 16px 0 157px 0;
        font-size: var(--mediumFontSize);
        line-height: 29px;
    }

    &__logIn {
        color: #1C5CA7;
        font-weight: 700;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__illustrationContainer {
        position: absolute;
        right: 80px;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__illustration {
        width: 612px;
        height: 415px;
        background-image: url('/images/illustration.png');
        background-size: cover;
    }

    &__runWithUs {
        font-size: var(--largeFontSize);
        font-weight: 500;
        color: var(--orange);
        line-height: 59px;
    }

    &__findOutMore {
        color: var(--orange);
        font-weight: 700;
        font-size: var(--mediumFontSize);
        line-height: 24px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}