@import '../../../stylesheets/mixins.scss';

.label {
  display: flex;
  width: 92px;
  padding: 8.2px 14.4px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10.8px;
  border: 2px solid var(--orange);
  background-color: var(--light);
  color: var(--TEAL, #1ca2a7);
  font-size: 14.4px;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--orange);
    color: var(--light);
    outline: none;
  }

  @include desktop-screen {
    font-size: 24px;
    padding: 16px 32px;
    border-radius: 24px;
    border: 3px solid var(--orange);
    width: 161px;
  }

  &>input {
    display: none;
  }

  &__active {
    background-color: var(--orange);
    color: var(--light);
    transform: translateY(-6px);
  }
}