.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 200% 200%;
  width: 100%;
}

.arrow {
  svg {
    width: clamp(32px, 10vw, 80px);
    height: 100%;
  }
}
