.customModal {
  border-radius: 1.4rem;
  width: min(1440px, 90vw);
  overflow-x: hidden;
}

.clause,
.statute {
  padding: min(1rem, 0.3vw);
  padding-top: 3rem;
  color: gray;
  background-color: white;
}

@media screen and (max-width: 580px) {
  .react-responsive-modal-closeButton {
    right: 2.5rem !important;
  }
}

@media screen and (min-width: 580.1px) and (max-width: 680px) {
  .react-responsive-modal-closeButton {
    right: 15% !important;
  }
}
