@import '../../stylesheets/mixins.scss';

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 75%;
  border-radius: 50%;
  background-color: #fff;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 8px;
}

.cta {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;

  @include desktop-screen {
    font-size: 26px;
  }
}

.link {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  color: var(--orange);
  z-index: 20000;

  @include desktop-screen {
    font-size: 21px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
