@import '../../stylesheets/mixins.scss';

.btn {
  font-size: 18px;
  transition: all 0.2s;

  &:hover,
  &:focus {
    color: var(--marine);
    outline: none;
  }

  @include mobile-screen {
    font-size: 14px;
  }
}
