@import '../../stylesheets/mixins.scss';

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px clamp(24px, 4vw, 80px) clamp(0px, 4vw, 40px);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  @include desktop-screen {
    padding: 64px clamp(24px, 4vw, 80px) clamp(0px, 4vw, 40px);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--dark);
  gap: clamp(6px, 0.5vw, 24px);

  &__sub {
    font-size: 50px;
    font-weight: 500;
    font-size: clamp(16px, 5vw, 50px);
  }

  &__main {
    font-size: 90px;
    font-weight: 800;
    font-size: clamp(36px, 9vw, 90px);
  }
}

.line {
  svg {
    width: clamp(240px, 60vw, 800px);
  }
}
