@import '../../../stylesheets/mixins.scss';

.section {
  position: relative;
  padding: 80px 24px 24px;
  max-width: 560px;
  margin: 0 auto;
  overflow-x: clip;

  @include desktop-screen {
    padding: 64px 80px 70px;
    max-width: 1440px;
  }
}

.line {
  position: absolute;
  left: 50%;
  top: -38%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;

  &>svg {
    width: 100%;
  }

  @include desktop-screen {
    left: 50%;
    top: -10%;
    transform: translateX(-56%);
  }
}