@import '../../stylesheets/mixins.scss';

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 42px;

  @include mobile-screen {
    gap: 12px;
    margin-bottom: 14px;
  }
}

.sub {
  font-size: 32px;
  font-weight: 500;

  @include mobile-screen {
    font-size: 16px;
  }
}

.main {
  font-size: 90px;
  font-weight: 800;
  color: var(--orange);
  text-transform: uppercase;

  @include mobile-screen {
    font-size: 32px;
  }
}
