.section {
    padding: 80px 0 260px;
    position: relative;
    width: 100%;
    padding-top: 63px;
    background-image: url('/images/background.png');
    background-size: 345% 415%;
    background-repeat: no-repeat;
    background-position: left bottom;  
}

.container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;

    .heading {
        max-width: 88%;
        align-items: center;
        margin: 0 auto;
        text-wrap: wrap;
        white-space: pre-wrap;

        .subText{
            font-family: DM Serif Display;
            font-size: 67px;
            font-weight: 400;
            line-height: 91.86px;
            text-align: center;
            color: #2E2530;
            }
    }
}

