.container {
  margin-bottom: 12px;
  width: 100%;
}

.heading {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 28px;
}

.list {
  display: flex;
  align-items: center;
  gap: 45px;
}

.sponsor {
}
