@import '../../stylesheets/mixins.scss';

.attractions {
  position: relative;
  padding-top: 80px;

  @include desktop-screen {
    padding-top: 140px;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include desktop-screen {
      padding: 0 80px;
      max-width: 1440px;
    }
  }

  &__containerItems {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;

    @include desktop-screen {
      gap: 29px;
    }
  }

  &__title {
    padding-bottom: 26px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;

    @include desktop-screen {
      padding-bottom: 140px;
    }
  }

  &__iconBloodCell svg {
    width: 28px;
    height: 38px;

    @include desktop-screen {
      width: 58px;
      height: 82px;
    }
  }

  &__backgroundIcon {
    display: none;

    @include desktop-screen {
      position: absolute;
      top: 270px;
      right: 0;
      display: flex;
    }
  }
}

.attractions__header {
  color: #2e2530;
  text-align: center;
  font-family: 'DM Serif Display';
  font-size: 40px;

  @include desktop-screen {
    font-size: 67px;
  }
}
