.slider,
.slider__reverse {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
  }
  &:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }

  &:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  &__wrapper {
    animation: slide 30s linear infinite;
    flex-shrink: 0;
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider__reverse {
  .slider__wrapper {
    animation-direction: reverse;
  }
}
