@import '../../stylesheets/mixins.scss';

.regulations {
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  max-height: 386px;
  width: 100%;
  line-height: 1.5;
  position: relative;

  @include desktop-screen {
    background: #ffffff4d;
    box-shadow: 0px 3px 8px 0px rgba(173, 171, 177, 0.6);
    border: 1px solid var(--marine);
    padding: 24px;
    padding-right: 10px;
    max-width: 597px;
    max-height: 780px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--marine) transparent;
  }

  &__sectionTitle {
    font-size: 16px;

    @include desktop-screen {
      font-size: 24px;
    }
  }

  &__regulationsTitle {
    font-size: 9.6px;
    margin-top: 15px;
    position: relative;
    padding-right: 10px;

    @include desktop-screen {
      margin-top: 24px;
      font-size: 16px;
    }
  }

  &__consent svg {
    margin-right: 10px;
    width: 10px;
    height: 10px;

    @include desktop-screen {
      width: 16px;
      height: 16px;
    }

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }

  &__consentFilled svg {
    width: 10px;
    height: 10px;
    fill: #1ca2a7;

    @include desktop-screen {
      width: 16px;
      height: 16px;
    }

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }

  &__iconAgree svg {
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;

    @include desktop-screen {
      width: 20px;
      height: 20px;
      left: -2px;
      top: 0;
    }
  }

  &__iDo {
    font-size: 9.6px;

    @include desktop-screen {
      font-size: 16px;
    }
  }

  &__statementList {
    font-size: 9.6px;
    padding: 0 15px;
    list-style: decimal;
    list-style-type: lower-roman;

    @include desktop-screen {
      font-size: 16px;
      padding: 0 24px;
    }
  }

  &__statementItem {
    list-style: decimal;
    text-align: justify;
  }

  &__highlights {
    font-weight: 700;
    cursor: pointer;
    color: #1300ec;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
